@import '@/shared/styles/variables';

.page {
  margin: 0;
  padding: 0;
  width: 100%;
}

.main {
  margin: 30px auto 0 auto;
  padding: 0;
  max-width: 900px;
  display: grid;
  grid-template-columns: 450px 400px;
  grid-template-areas: 'info chat'
                       'history chat';
  justify-content: space-between;
}

.info, .chat, .history {
  margin: 0;
  padding: 10px 15px;
  background-color: $colorBackgroundSecondary;
  border-radius: 12px;
  width: 100%;
}

.info {
  grid-area: info;
}

.chat {
  grid-area: chat;
}

.history {
  margin-top: 20px;
  grid-area: history;
}
