@import "@/shared/assets/fonts/fonts.css";
@import "@/shared/styles/variables";

#root, body {
  margin: 0;
  padding: 0;
}

:root {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: $colorBackground;
}

* {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
